<div class="container">
  <table class="table ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sample Date</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">Sample ID</th>
        <th scope="col">Haemotology</th>
        <th scope="col">Thyriod Profile</th>
        <th scope="col">Glucometry </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of allReports">
        <td>{{ r.date }}</td>
        <td>{{ r.fName }}</td>
        <td>{{ r.email }}</td>
        <td>{{ r.sampleId }}</td>
        <td>
          <Button *ngIf="r.haematology.length === 0" class="btn btn-light"
            >NA</Button
          >
  
          <Button
            data-toggle="modal"
            (click)="viewReport(r._id)"
            data-target="#exampleModal12"
            *ngIf="r.haematology.length !== 0"
            class="btn btn-success"
            >View Details</Button
          >
        </td>
        <td>
          <Button *ngIf="r.glucometry.length === 0" class="btn btn-light"
            >NA</Button
          >
  
          <Button
            data-toggle="modal"
            (click)="viewReportglu(r._id)"
            data-target="#exampleModal13"
            *ngIf="r.glucometry.length != 0"
            class="btn btn-success"
            >View Details</Button
          >
        </td>
        <td>
          <Button *ngIf="r.thyroid.length === 0" class="btn btn-light">NA</Button>
  
          <Button
            data-toggle="modal"
            (click)="viewReportthy(r._id)"
            data-target="#exampleModal14"
            *ngIf="r.thyroid.length != 0"
            class="btn btn-success"
            >View Details</Button
          >
        </td>
      </tr>
    </tbody>
  </table>
  
  <div
    class="modal fade"
    id="exampleModal12"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <form [formGroup]="hemoForm" (ngSubmit)="hemoData()" class="mx-auto">
              <h4 class="text-center">Hemoglobin Report</h4>
              <div class="row mt-3">
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="hemoglobin"
                      [(ngModel)]="heomoglobinReport.hemoglobin"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="totalCount"
                      [(ngModel)]="heomoglobinReport.totalCount"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="neutrophils"
                      [(ngModel)]="heomoglobinReport.neutrophils"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="lymphocytes"
                      [(ngModel)]="heomoglobinReport.lymphocytes"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="eosinophiles"
                      [(ngModel)]="heomoglobinReport.eosinophiles"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="basophills"
                      [(ngModel)]="heomoglobinReport.basophills"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="monocytes"
                      [(ngModel)]="heomoglobinReport.monocytes"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="redBloodCells"
                      [(ngModel)]="heomoglobinReport.redBloodCells"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="pavkedCellVolume"
                      [(ngModel)]="heomoglobinReport.pavkedCellVolume"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      formControlName="mvc"
                      [(ngModel)]="heomoglobinReport.mvc"
                    />
                  </div>
                </div>
              </div>
  
              <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>
          </div>
  
          <!-- hemoglobin add -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- hemotology ends -->
  
  <!-- glucometry model starts -->
  
  <div
    class="modal fade"
    id="exampleModal13"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <!-- body -->
            <form [formGroup]="glucoForm" (ngSubmit)="glucoData()" class="">
              <h4 class="text-center">Glucometry Report</h4>
              <div class="row mt-3">
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Fasting Blood Sugar"
                      formControlName="fastingbloodsugar"
                      [(ngModel)]="glucometryReport.fastingbloodsugar"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Post Prandial Blood Sugar"
                      formControlName="postprandilabloodsugar"
                      [(ngModel)]="glucometryReport.postprandilabloodsugar"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Glycosylated Hamoglobin (HbA1C)"
                      formControlName="hba1c"
                      [(ngModel)]="glucometryReport.hba1c"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Calcium"
                      formControlName="calcium"
                      [(ngModel)]="glucometryReport.calcium"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
  
          <!-- hemoglobin add -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- glucometry model ends -->
  
  <div
    class="modal fade"
    id="exampleModal14"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <!-- body -->
            <form [formGroup]="thyForm" (ngSubmit)="thyData()" class="mx-auto">
              <h4 class="text-center">Thyroid Report</h4>
              <div class="row mt-3">
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="TRI IODD Thyronine-T3 Total"
                      formControlName="t3Total"
                      [(ngModel)]="thyroidReport.t3Total"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Thyroxine-T4"
                      formControlName="thyroxine"
                      [(ngModel)]="thyroidReport.thyroxine"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Thyroid Stimulating Harmone (TSH) "
                      [(ngModel)]="thyroidReport.tsh"
                      formControlName="tsh"
                    />
                  </div>
                </div>
              </div>
            </form>
  
            <!-- hemoglobin add -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>