<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-7 text-center">
      <img
        class="mt-5"
        src="../../assets/undraw_medicine_b-1-ol.svg"
        width="480px"
        alt=""
      />
    </div>

    <div class="col-lg-5 col-md-12">
      <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="send()" class="">
        <div class="alert alert-danger" *ngIf="errMsg.error" role="alert">
          <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
          {{ errMsg.message | titlecase }}
        </div>
        <div class="form-group mt-3">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="email"
            placeholder="Email address"
            autofocus
          />
          <span><i class="fa fa-user"></i></span>
          <span *ngIf="email?.invalid && email?.touched" style="color: red"
            >*Invalid Email Id!</span
          >
        </div>
        <div class="form-group mt-4">
          <input
            [type]="passText"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="password"
            placeholder="Password"
          />
          <span><i class="fa fa-lock"></i></span>

          <span *ngIf="password?.valid" (click)="togglePass()" class="eyeIcon"
            ><i [class]="eyes"></i
          ></span>
        </div>

        <button
          [disabled]="loginForm.invalid"
          type="submit"
          class="btn btn-primary w-25 mt-4"
        >
          Login
        </button>
      </form>

      <p class="mt-5">
        Connect us with
        <span>
          <a class="ml-3 fb" target="blank" href="https://www.facebook.com/"
            ><i class="fa fa-facebook"></i> </a
        ></span>

        <a class="ml-3 tw" target="blank" href="https://twitter.com/"
          ><i class="fa fa-twitter"></i
        ></a>
        <a class="ml-3 gle" target="blank" href="https://google.com">
          <i class="fa fa-google"> </i
        ></a>
      </p>
    </div>
  </div>
</div>
