form {
  width: 350px;
  height: 29 5px;

  background-color: white;
  border-radius: 20px;

  margin-top: 75px;
}

.eyeIcon {
  position: absolute;
  margin-top: -30px;
  margin-left: 300px;
}

.lin {
  margin-right: 50px !important;
}

.icon {
  background-color: white;
  padding: 20px;
  width: 130px;
  height: 56px;
  margin-top: 80px;
  border-radius: 100%;
}

.form-control {
  border-radius: 0px !important;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  box-shadow: none;
}

.fb,
.tw,
.gle {
  color: white;
  border-radius: 5px;
}

.fb {
  background-color: #4267b2;

  padding: 5px 13px 5px 9px;
}
.tw {
  padding: 5px 8px 5px 9px;
  background-color: #00acee;
}

.gle {
  padding: 5px 8px 5px 9px;
  background-color: #e57368;
}
