.outcome {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.outcome > *:not(.action) {
  flex: 1;
}

.outcome p {
  margin: 0;
}

#createTestForm {
  min-width: 350px;
  width: 50%;
  margin-left: 25%;
  padding: 15px;
}
#createTestForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#createTestForm input {
  width: 100%;
}
.fields__container {
  display: flex;
  gap: 10px;
}
.fields__container > * {
  flex: 1;
}
