<form [formGroup]="regForm" (ngSubmit)="regSubmit()" class="mx-auto mt-5">
  <h4 class="text-center">Please Register!</h4>
  <div class="form-group mt-4">
    <input
      type="text"
      placeholder="Enter Patient name*"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="fName"
    />
  </div>
  <div class="form-group mt-3">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter Email *"
      formControlName="email"
    />
  </div>
  <div class="form-group mt-4">
    <input
      [type]="passText"
      placeholder="Enter Your Password *"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="password"
    />
    <span (click)="togglePass()" class="eyeIcon"><i [class]="eyes"></i></span>
  </div>
  <input
    type="text"
    class="form-control"
    formControlName="role"
    placeholder="Role "
    list="list"
  />
  <datalist id="list">
    <option value="Admin"></option>
    <option value="user"></option>
  </datalist>
  <button
    [disabled]="regForm?.invalid"
    type="submit"
    class="mybtn btn btn-dark btn-sm"
  >
    register patient
  </button>
</form>
