.container-fluid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://cdn.pixabay.com/photo/2018/11/20/16/44/laboratory-3827745_960_720.jpg");
  height: 759px;
  background-repeat: no-repeat;
  background-size: cover;
}

.txt {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 245px;
}

.txt h1 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}

.btn-transprant:hover {
  border: 1px solid tomato !important;
  border: none;
}
