<!-- <form [formGroup]="sample" (ngSubmit)="sampleFormData()" class="w-25 mx-auto">
  <h4 class="text-center">Create Test</h4>
  <div class="form-group">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="patientName"
      list="opts"
    />
  </div>
  <datalist id="opts">
    <option *ngFor="let n of names" [value]="n.name"></option>
  </datalist>

  <div class="form-group form-check ml-4">
    <input
      formControlName="hemoglobin"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
    />
    <label class="form-check-label" for="exampleCheck1">Hemoglobin</label>
  </div>
  <div class="form-group form-check ml-4">
    <input
      formControlName="glucometry"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck2"
    />
    <label class="form-check-label" for="exampleCheck2">Glucometry</label>
  </div>
  <div class="form-group form-check ml-4">
    <input
      formControlName="thyroid"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck3"
    />
    <label class="form-check-label" for="exampleCheck3">Thyroid Profile</label>
  </div>
  <button
    type="submit"
    [disabled]="
      sample.invalid ||
      (!hemoglobin?.value && !glucometry?.value && !thyroid?.value)
    "
    class="btn btn-primary btn-sm"
  >
    Submit
  </button>
  <i class="fa-solid fa-paper-plane-top"></i>
</form>
<p>s</p>
<p>s</p>
<p>s</p>
<p>s</p>
hemoglobin add -->

<form [formGroup]="sample" (ngSubmit)="sampleFormData()" class="mx-auto">
  <h4 class="text-center">Create Test</h4>
  <div class="form-group">
    <input
      type="email"
      class="form-control w-25 mx-auto"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="patientName"
      list="opts"
      placeholder="select patient"
    />
  </div>
  <datalist id="opts">
    <option *ngFor="let n of names" [value]="n.name"></option>
  </datalist>

  <div class="form-group form-check ml-5">
    <input
      formControlName="hemoglobin"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
    />
    <label class="form-check-label" for="exampleCheck1">Hemoglobin</label>
  </div>
  <div *ngIf="hemoglobin?.value" class="container">
    <div>
      <form class="mx-auto">
        <h4 class="">Hemoglobin Report</h4>
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Haemoglobin"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Total Count/ WBC"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Neutrophils"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Lymphocytes"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Eosinophiles"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Monocytes"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Basophills"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Red blood cells (RBC)"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Packed Cell Volume (PVC)"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="MEAN Corpuscular Volume (MVC)"
              />
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
    </div>
  </div>
  <div class="form-group form-check ml-5">
    <input
      formControlName="glucometry"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck2"
    />
    <label class="form-check-label" for="exampleCheck2">Glucometry</label>
  </div>
  <div *ngIf="glucometry?.value" class="container">
    <form class="">
      <h4 class="text-center">Glucometry Report</h4>
      <div class="row mt-3">
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Fasting Blood Sugar"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Post Prandial Blood Sugar"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Glycosylated Hamoglobin (HbA1C)"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Calcium"
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
  </div>

  <div class="form-group form-check ml-4">
    <input
      formControlName="thyroid"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck3"
    />
    <label class="form-check-label" for="exampleCheck3">Thyroid Profile</label>
  </div>
  <div *ngIf="thyroid?.value">
    <form class="w-25 mx-auto">
      <h4 class="text-center">Thyroid Report</h4>
      <div class="row mt-3">
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="TRI IODD Thyronine-T3 Total"
              formControlName="tri"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Thyroxine-T4"
              formControlName="Thyroxine"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Thyroid Stimulating Harmone (TSH) "
              formControlName="tsh"
            />
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
  </div>
</form>
