<form [formGroup]="sample" (ngSubmit)="sampleFormData()" class="mx-auto mt-5">
  <h4 class="text-center">Create Test</h4>
  <div class="form-group mx-auto w-50">
    <select formControlName="patientName" class="form-control" name="" id="">
      <option value="" selected disabled>Patient Name</option>
      <option [value]="n._id" *ngFor="let n of names">{{ n.fName }}</option>
    </select>
  </div>

  <div class="form-group form-check ml-5 w-75 mx-auto">
    <input
      formControlName="hemoglobin"
      type="checkbox"
      class="form-check-input ml-4"
      id="exampleCheck1"
    />
    <label class="form-check-label ml-5" for="exampleCheck1 ">Hemoglobin</label>
  </div>
  <div *ngIf="hemoglobin?.value" class="container">
    <div>
      <form [formGroup]="hemoForm" class="mx-auto">
        <h4 class="">Hemoglobin Report</h4>
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Haemoglobin"
                formControlName="hemoglobin"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Total Count/ WBC"
                formControlName="totalCount"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Neutrophils"
                formControlName="neutrophils"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Lymphocytes"
                formControlName="lymphocytes"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Eosinophiles"
                formControlName="eosinophiles"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Monocytes"
                formControlName="monocytes"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Basophills"
                formControlName="basophills"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Red blood cells (RBC)"
                formControlName="redBloodCells"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Packed Cell Volume (PVC)"
                formControlName="pavkedCellVolume"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="MEAN Corpuscular Volume (MVC)"
                formControlName="mvc"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="form-group form-check ml-5 w-75 mx-auto">
    <input
      formControlName="glucometry"
      type="checkbox"
      class="form-check-input ml-4"
      id="exampleCheck2"
    />
    <label class="form-check-label ml-5" for="exampleCheck2">Glucometry</label>
  </div>
  <div *ngIf="glucometry?.value" class="container">
    <form [formGroup]="glucoForm" class="">
      <h4 class="text-center">Glucometry Report</h4>
      <div class="row mt-3">
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Fasting Blood Sugar"
              formControlName="fastingbloodsugar"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Post Prandial Blood Sugar"
              formControlName="postprandilabloodsugar"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Glycosylated Hamoglobin (HbA1C)"
              formControlName="hba1c"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Calcium"
              formControlName="calcium"
            />
          </div>
        </div>
      </div>
      <!-- <button type="submit" class="btn btn-primary btn-sm mb-5">Submit</button> -->
    </form>
  </div>

  <div class="form-group form-check ml-5 w-75 mx-auto">
    <input
      formControlName="thyroid"
      type="checkbox"
      class="form-check-input ml-4"
      id="exampleCheck3"
    />
    <label class="form-check-label ml-5" for="exampleCheck3"
      >Thyroid Profile</label
    >
  </div>
  <div *ngIf="thyroid?.value" class="container">
    <form [formGroup]="thyForm" class="mx-auto">
      <h4 class="text-center">Thyroid Report</h4>
      <div class="row mt-3">
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="TRI IODD Thyronine-T3 Total"
              formControlName="t3Total"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Thyroxine-T4"
              formControlName="thyroxine"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Thyroid Stimulating Harmone (TSH) "
              formControlName="tsh"
            />
          </div>
        </div>
      </div>
      <!-- 
      <button type="submit" class="btn btn-primary btn-sm mb-5">Submit</button> -->
    </form>
  </div>
  <div class="form-group butn">
    <button type="submit" class="btn btn-primary w-25">Submit</button>
  </div>
</form>
