<nav *ngIf="serv.islogin | async" class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Laboratory</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav"></ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a
          (click)="logout()"
          *ngIf="!serv.isAdmin()"
          class="dropdown-item"
          href="/login"
          >logout <i class="fa fa-right-from-bracket"></i>
        </a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="!serv.islogin" *ngIf="flag" href=""
          >Login <span class="sr-only">(current)</span></a
        >
      </li> -->
      <li *ngIf="serv.isAdmin()" class="nav-item logout dropdown text-lg">
        <a
          class="btn btn-dark text-light nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa fa-user"></i>
        </a>
        <div
          *ngIf="serv.isAdmin()"
          class="dropdown-menu dropdown-menu-lg-right"
          aria-labelledby="navbarDropdown"
        >
        <a
        class="dropdown-item"
        *ngIf="serv.isAdmin()"
        routerLink="entersamples"
        href=""
        >Enter Samples
      </a>
          <a
            class="dropdown-item"
            *ngIf="serv.isAdmin()"
            routerLink="entersamples"
            href=""
            >Enter Samples
          </a>
          <a
            class="dropdown-item"
            routerLink="dashbord"
            *ngIf="serv.isAdmin()"
            href="#"
            >Dashbord</a
          >
          <a
            class="dropdown-item"
            routerLink="userdetails"
            *ngIf="serv.isAdmin()"
            href="#"
            >User Details</a
          >
          <div class="dropdown-divider"></div>
          <a
            (click)="logout()"
            *ngIf="serv.islogin"
            class="dropdown-item"
            href="/login"
            >logout <i class="fa fa-right-from-bracket"></i>
          </a>
        </div>
      </li>
      <li class="nav-item active"></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
